# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Build output
dist/
build/

# IDE / OS files
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
.DS_Store

# Logs
*.log
npm-debug.log*

# Misc
.gemini/

# Local Netlify folder
.netlify
